.footerletra{
    color: white;
}

.nav-item{
    white-space: nowrap;
}


.nav-footer-padding{
    padding-left: 25%;
    padding-right: 25%;
}


.bg-body{
    background-color: #000;
}


.body-padding{
    padding-left: 25%;
    padding-right: 160px;
}




.voltar{
    text-decoration:none;
    color: black;
}

.voltar:hover{
    text-decoration: none;
    color: #666;
}

.vagas{
    font-size: 5.0rem;
}

.cor-letra{
    color: #314163;
}
.consultor-letra{
    font-size: 3.5rem;
}

.padding-img{
    margin-left: -100px;
}

aside {
    height: 1080px;
    width: 20%;
    padding-left: 60px;
    margin-left: 80px;
    padding-top: 127px;
    margin-top: 127px;
    margin-right: 250px;
    float: right;
    font-style: italic;
    background-color: blue;
  }